Repository jiridostal/podman-desktop, changes with the owners that CODEOWNERS names for each.
All owners: @podman-desktop/reviewers, @benoitf, @vancura, @MariaLeonova, @slemeur, @cdrage, @Firewall, @shipsing, @podman-desktop/qe-reviewers

chore: introduce github labeler
  .github/labeler.yml
  .github/workflows/labeler.yaml
Owners: @podman-desktop/reviewers, @benoitf

test new triggers
  .github/workflows/labeler.yaml
Owners: @podman-desktop/reviewers, @benoitf

use sha instead tag
  .github/workflows/labeler.yaml
Owners: @podman-desktop/reviewers, @benoitf

feat: added fetching service of docs and tutorial to be shown in searchbar
  packages/api/src/documentation-info.ts
  packages/main/src/plugin/documentation/documentation-service.spec.ts
  packages/main/src/plugin/documentation/documentation-service.ts
  packages/main/src/plugin/index.ts
  packages/preload/src/index.ts
  packages/renderer/src/lib/dialogs/CommandPalette.spec.ts
  packages/renderer/src/lib/dialogs/CommandPalette.svelte
Owners: @podman-desktop/reviewers, @benoitf, @vancura, @MariaLeonova

chore: fetch documentation when openned dialog
  packages/main/src/plugin/documentation/documentation-service.spec.ts
  packages/main/src/plugin/documentation/documentation-service.ts
  packages/main/src/plugin/index.ts
  packages/renderer/src/lib/dialogs/CommandPalette.svelte
Owners: @podman-desktop/reviewers, @benoitf, @vancura, @MariaLeonova

chore: fetch documentation when openned dialog
  packages/main/src/plugin/documentation/documentation-service.spec.ts
  packages/main/src/plugin/documentation/documentation-service.ts
  packages/main/src/plugin/layout-registry.spec.ts
  packages/main/src/plugin/layout-registry.ts
Owners: @podman-desktop/reviewers, @benoitf

chore(refactor): move readMachineConfigFiles to utils for reusability
  extensions/podman/packages/extension/src/extension.ts
  extensions/podman/packages/extension/src/utils/util.ts
Owners: @podman-desktop/reviewers, @benoitf

chore: Update Podman version to v5.7.0
  extensions/podman/packages/extension/src/podman5.json
Owners: @podman-desktop/reviewers, @benoitf

fix(podman): allow stopping the machine in starting state
  extensions/podman/packages/extension/src/extension.ts
  extensions/podman/packages/extension/src/utils/util.ts
  packages/renderer/src/lib/preferences/PreferencesConnectionActions.svelte
Owners: @podman-desktop/reviewers, @benoitf, @vancura, @MariaLeonova

chore: Update Podman version to v5.7.1
  extensions/podman/packages/extension/src/podman5.json
Owners: @podman-desktop/reviewers, @benoitf

chore: Update Podman version to v5.8.0
  extensions/podman/packages/extension/src/podman5.json
Owners: @podman-desktop/reviewers, @benoitf

chore: Update Podman version to v5.8.1
  extensions/podman/packages/extension/src/podman5.json
Owners: @podman-desktop/reviewers, @benoitf

fix(tests): add more specific aria label to StatusIcon
  packages/ui/src/lib/statusIcon/StatusIcon.svelte
  tests/playwright/src/model/pages/container-details-page.ts
  tests/playwright/src/model/pages/kubernetes-resource-details-page.ts
  tests/playwright/src/model/pages/pods-details-page.ts
Owners: @podman-desktop/reviewers, @vancura, @MariaLeonova, @benoitf, @podman-desktop/qe-reviewers

fix(tests): in unit tests, locate StatusIcon by new aria label
  packages/renderer/src/lib/image/ImageDetails.spec.ts
  packages/renderer/src/lib/image/ImagesList.spec.ts
  packages/ui/src/lib/statusIcon/StatusIcon.spec.ts
Owners: @podman-desktop/reviewers, @vancura, @MariaLeonova, @benoitf

chore: Update Podman version to v5.8.2
  extensions/podman/packages/extension/src/podman5.json
Owners: @podman-desktop/reviewers, @benoitf

fix(spinner): fix spinner style scoping
  packages/ui/src/lib/progress/Spinner.svelte
Owners: @podman-desktop/reviewers, @vancura, @MariaLeonova, @benoitf

chore: Update Podman version v6 to v6.1.2
  extensions/podman/packages/extension/src/podman.json
Owners: @podman-desktop/reviewers, @benoitf

chore: Update Podman version v5 to v5.8.7 and v6 to v6.1.2
  extensions/podman/packages/extension/src/podman.json
Owners: @podman-desktop/reviewers, @benoitf

CODEOWNERS:

# Default Owners
* @podman-desktop/reviewers @benoitf

packages/renderer/** @podman-desktop/reviewers @vancura @MariaLeonova @benoitf
packages/ui/** @podman-desktop/reviewers @vancura @MariaLeonova @benoitf
storybook/** @podman-desktop/reviewers @vancura @MariaLeonova @benoitf
*.css @podman-desktop/reviewers @vancura @MariaLeonova @benoitf

# website
website/** @podman-desktop/reviewers @slemeur @cdrage @benoitf @Firewall @vancura @MariaLeonova
website/docs/** @podman-desktop/reviewers @shipsing @slemeur @cdrage @benoitf @Firewall

# playwright tests
tests/playwright/** @podman-desktop/reviewers @podman-desktop/qe-reviewers @benoitf
